@model RicardoLourencoWebStore.Models.ChangeUserRoleViewModel

@{
    ViewData["Title"] = "Edit user";
}

<h2 style="color:white;">Edit User</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="UserId" />

            <div class="form-group">
                <label asp-for="RoleName" class="control-label">Select the user's role</label>
                <select asp-for="RoleName" asp-items="Model.Roles" class="form-control"></select>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>



            <div class="text-success" style="color: darkseagreen;">@ViewBag.UserMessage</div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}