@{
    ViewData["Title"] = "Error";
}

<h2 style="color:red;">Error</h2>

<h3 style="color:red;">There are products associated with this category</h3>

<a asp-action="Index" class="btn btn-primary">Back to List</a>